@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
@font-face {
    font-family: 'Misto';
    src: url('/fonts/Misto.eot');
    src: url('/fonts/Misto.eot') format('embedded-opentype'),
    url('/fonts/Misto.woff2') format('woff2'),
    url('/fonts/Misto.woff') format('woff'),
    url('/fonts/Misto.ttf') format('truetype'),
    url('/fonts/Misto.svg#Misto') format('svg');
}
@font-face {
    font-family: 'Horror';
    src: url('/fonts/Horror.ttf');
}
html,body,:root {
    background: #141414;
    height: 100%;
    color:#fff;
    scroll-behavior: smooth;
    position: relative;
}

.navbar{
    background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.00) 100%);
}
.movie-info{
    background: white;
    background: linear-gradient(270deg, rgba(37,40,40,1) 9%, #141414 100%);
}
.watchnow,.category-card{
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%);
}
.watchnow{
    z-index: 10;
}
.devices{
    background: linear-gradient(222deg, rgba(229, 0, 0, 0.50) -208.03%, rgba(229, 0, 0, 0.00) 41.32%), #0F0F0F;
}

.notfound{
    background-image: url(/homegrid/empty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}
